#audio {
    width: 100%;
    margin-top: 20px;
}

.UploadSong {
   
}

.Play, .Pause {
    float: left;
    padding: 20px;
    width: 15%;
    height: 60px;
    background: black;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.PlayerBar {
    width: 85%;
    height: 60px;
    position: relative;
    float: left;
    border: 2px solid black;
    margin-top: 20px;
}

.OverlayPlayerBar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background: black;
    transition: 0.50s width linear;
}