* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Righteous', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #ecd201;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.BeatViewer {
  max-height: 400px;
  overflow-y: scroll;
}

.Button {
  padding: 20px;
  background: black;
  color: white;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

pre {
  color: black;
  font-family: 'Righteous', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.LoadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.LoadingOverlay > div {
  font-size: 50px;
  background: #ecd201;
  padding: 20px;
  
}

[class*="col-"] { float: left; }
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}

.col-lg-1 { width: 8.33%; }
.col-lg-2 { width: 16.66%; }
.col-lg-3 { width: 25%; } 
.col-lg-4 { width: 33.33%; }
.col-lg-5 { width: 41.66%; }
.col-lg-6 { width: 50%; }
.col-lg-7 { width: 58.33%; }
.col-lg-8 { width: 66.66%; }
.col-lg-9 { width: 75%; }
.col-lg-10 { width: 83.33%; } 
.col-lg-11 { width: 91.66%; }
.col-lg-12 { width: 100%; }
